@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите здесь, чтобы подтвердить учётную запись</a>
</p>
    }
    else
    {
<p>
    Проверьте почту, чтобы подтвердить учётную запись.
</p>
    }
}
